.card-section {
    background-color: $color-blanco;
    background-image: url(../imagenes/lineaspuntos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 50px 0;
    text-align: center;
  }
  
  .card-header {
    margin-bottom: 1.87em;
  
    h2 {
      color: $color-primario;
      font-family: "Poppins";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    p {
      color: $color-secundario;
      text-align: center;
      font-family: "Poppins";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
  }
  
  .card {
    background-color: $color-blanco;
    width: 315.658px;
    height: 380px;
    flex-shrink: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    h3 {
      color: $color-primario;
      font-family: "Poppins";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    p {
      margin-top: 50px;
      color: $color-primario;
      text-align: center;
      font-family: "Poppins";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  .svg-position {
    margin-top: 70px;
  }
  