.contacto-section {
    background-color: #01affb;
    background-image: url(../imagenes/lineasBlancasimg.png);
    padding: 50px 0;
    text-align: center;
  
    h2 {
      color: #fff;
      font-family: "Poppins";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  