header {
  position: absolute;
  width: 100%;
  padding: 0.6em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s, padding 0.3s;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.navbar-nav .nav-link.active {
  color: $color-secundario;
}
.nav-links {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  list-style-type: none;
  align-items: flex-end;

  li {
    display: inline;
    margin-right: 20px;
    position: relative;

    a {
      color: $color-primario;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.logo img {
  width: 140px;
  height: auto;
}
